<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.productId.title %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered"> 
                <h2>
                    Total Price: $<%= totalSum %>
                </h2>
            </div>
            <div  class="centered">
                <button id="order-btn" class="btn">ORDER</button>
                <script src="https://js.stripe.com/v3/" ></script>
                <script>
                    var stripe = Stripe('pk_test_51QQclqJtBBLHJ14w9zDnJUOONeqzxHL4bOYHZTwcWGYv1Kr3ps9DLfA4bnWs5lMkY5Ggp215PtQ7X4vs4iiTBZ4700w9QBsVlr');
                    var orderButton = document.getElementById('order-btn');
                    orderButton.addEventListener('click', function() {
                        console.log("clicked")
                        stripe.redirectToCheckout({
                            sessionId: '<%= sessionId %>',
                        })})

                </script>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>